# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

#Cert files
/.certs

#stack deploy
docker-compose.stack*

yarn.lock
package-lock.json
